In [ ]:
import random 
random.seed(42)

In [ ]:
import numpy as np
import pandas as pd
data = pd.read_csv('titanic_data.csv')
display(data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#store the 'Survived' feature in a new variable and remove it from dataset
outcome = data['Survived']
features_raw = data.drop('Survived', axis = 1)

#remove the names
features_no_name = features_raw.drop('Name', axis = 1)
display(features_no_name.head())

#onehot encoding
Age_mean = np.nanmean(data['Age'].values)
features = pd.get_dummies(features_no_name)
features =features.fillna(0.0)#填缺值
display(features.head())

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,3,male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Ticket_110152,Ticket_110413,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#onehot encoding
features = pd.get_dummies(features_no_name)
features =features.fillna(0.0)#填缺值
display(features.head())
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(features, outcome, test_size=0.2, random_state=42)

from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt

X_set, y_set = X, y
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 0.1, stop = X_set[:, 0].max() + 0.1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 0.1, stop = X_set[:, 1].max() + 0.1, step = 0.01))
plt.contourf(X1, X2, model.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('orange', 'blue'))(i), label = j)
plt.title('Decision Tree')
plt.xlabel('X1')
plt.ylabel('X2')
plt.legend()
plt.show()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Ticket_110152,Ticket_110413,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

NameError: ignored

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt_mod = DecisionTreeClassifier(random_state=42)
naive_bayes = MultinomialNB()
bag_mod = BaggingClassifier(n_estimators=200)
rf_mod = RandomForestClassifier(n_estimators=200)
ada_mod = AdaBoostClassifier(n_estimators=300, learning_rate=0.2)
svm_mod = SVC()

In [ ]:
dt_mod.fit(X_train, y_train)
naive_bayes.fit(X_train, y_train)
bag_mod.fit(X_train, y_train)
rf_mod.fit(X_train, y_train)
ada_mod.fit(X_train, y_train)
svm_mod.fit(X_train, y_train)

SVC()

In [ ]:
preds_dt =dt_mod.predict(X_train, y_train)
preds_nb = naive_bayes.predict(X_test)
preds_bag = bag_mod.predict(X_test)
preds_rf = rf_mod.predict(X_test)
preds_ada = ada_mod.predict(X_test)
preds_svm = svm_mod.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
def accuracy(actual, preds):

    return np.sum(preds == actual)/len(actual)

print(accuracy(y_test, preds_nb))
print(accuracy_score(y_test, preds_nb))

0.8212290502793296
0.8212290502793296

In [ ]:
def precision(actual, preds):

    tp = len(np.intersect1d(np.where(preds==1), np.where(actual==1)))
    pred_pos = (preds==1).sum()
    return tp/pred_pos

print(precision(y_test, preds_nb))
print(precision_score(y_test, preds_nb))

0.6461538461538462
0.6461538461538462

In [ ]:

def recall(actual, preds):

    tp = len(np.intersect1d(np.where(preds==1), np.where(actual==1)))
    act_pos = (actual==1).sum()
    return tp/act_pos

print(recall(y_test, preds_nb))
print(recall_score(y_test, preds_nb))

0.5675675675675675
0.5675675675675675

In [ ]:

def f1(preds, actual):

    tp = len(np.intersect1d(np.where(preds==1), np.where(actual==1)))
    pred_pos = (preds==1).sum()
    prec = tp/(pred_pos)
    act_pos = (actual==1).sum()
    recall = tp/act_pos
    return (2*prec*recall)/(prec+recall)

print(f1(y_test, preds_nb))
print(f1_score(y_test, preds_nb))

0.6043165467625901
0.6043165467625901

In [ ]:

def print_metrics(y_true, preds):

   print('Accuracy score: ', format(accuracy_score(y_true, preds)))
   print('Precision score: ', format(precision_score(y_true, preds)))
   print('Recall score: ', format(recall_score(y_true, preds)))
   print('F1 score: ', format(f1_score(y_true, preds)))
   print('\n')

In [ ]:

# Print scores
print_metrics(y_test, preds_dt)
print_metrics(y_test, preds_nb)
print_metrics(y_test, preds_bag)
print_metrics(y_test, preds_rf)
print_metrics(y_test, preds_ada)
print_metrics(y_test, preds_svm)

Accuracy score:  0.6927374301675978
Precision score:  0.6461538461538462
Recall score:  0.5675675675675675
F1 score:  0.6043165467625901


Accuracy score:  0.8156424581005587
Precision score:  0.8360655737704918
Recall score:  0.6891891891891891
F1 score:  0.7555555555555555


Accuracy score:  0.8044692737430168
Precision score:  0.8
Recall score:  0.7027027027027027
F1 score:  0.7482014388489208


Accuracy score:  0.8212290502793296
Precision score:  0.828125
Recall score:  0.7162162162162162
F1 score:  0.7681159420289855


Accuracy score:  0.5977653631284916
Precision score:  0.6666666666666666
Recall score:  0.05405405405405406
F1 score:  0.1